# tmp work files
# blender files
*.blend
# Kicad backups
*-backups
fp-info-cache

# Debug files
tmp*

# Software repository
software/.cache
software/.devcontainer
software/build
software/main/secret.h
